<div class="add-new-item">
    <div class="inner">
        <div class="header">
            <span *ngIf="selectedItem.id === null" class="title">Új felhasználó létrehozása</span>
            <span *ngIf="selectedItem.id" class="title">Szerkesztés: {{ selectedItem.name }}</span>
            <span class="close" (click)="close()"></span>
        </div>
        <div class="content">
            <form [formGroup]="form" class="d-flex flex-column" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Név</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-error *ngIf="form.controls['name'].hasError('required')">A név megadása kötelező.</mat-error>
                    <mat-error *ngIf="form.controls['name'].hasError('minlength')">A név legalább 3 karakter.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email cím</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="form.controls['email'].hasError('required')">Az email cím megadása kötelező.</mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('email')">Érvényes email cím megadása kötelező.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Jelszó</mat-label>
                    <input matInput formControlName="password" type="password">
                    <mat-error *ngIf="selectedItem.id === null && form.controls['email'].hasError('required')">Az email cím megadása kötelező.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Cím</mat-label>
                    <input matInput formControlName="address" type="text">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Telefon</mat-label>
                    <input matInput formControlName="phone_number" type="tel">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Státusz</mat-label>
                    <mat-select formControlName="isActive">
                        <mat-option *ngFor="let status of statusList" [value]="status.id">
                            {{status.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Szerepkör</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let roleItem of roleList" [value]="roleItem.id">
                            {{roleItem.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['role'].hasError('required')">Szerepkör megadása kötelező.</mat-error>
                </mat-form-field>

                <button *ngIf="selectedItem.id === null" type="submit" mat-raised-button color="primary" class="text-white mt-2">Mentés</button>
                <button *ngIf="selectedItem.id !== null" mat-raised-button color="primary" class="text-white mt-2">Módosítás</button>

            </form>
        </div>
    </div>
</div>
