<nav aria-label="Page navigation">
<!--    <ul class="pagination pagination-sm justify-content-end">-->
<!--            <span v-for="(link, index) in links" :key='index'>-->
<!--                <li v-if="index === 0" class="page-item">-->
<!--                    <a v-if="link.url" @click="paginate(link.url)" class="page-link prev-active" href="#"></a>-->
<!--                    <a v-else class="page-link prev-inactive" href="##" disabled></a>-->
<!--                </li>-->
<!--                <li v-else-if="index === links.length-1" class="page-item">-->
<!--                    <a v-if="link.url" @click="paginate(link.url)" class="page-link next-active" href="#"></a>-->
<!--                    <a v-else class="page-link next-inactive" href="##" disabled></a>-->
<!--                </li>-->
<!--                <li v-else class="page-item">-->
<!--                    <a v-if="!link.active" @click="paginate(link.url)" class="page-link" href="#">{{ link.label }}</a>-->
<!--                    <a v-else class="page-link current-page" href="##" disabled>{{ link.label }}</a>-->
<!--                </li>-->
<!--            </span>-->
<!--    </ul>-->
</nav>
