<div class="container front-container py-5 profile">
    <div class="row">
        <div class="function-list col-lg-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Kívánságlista
                </button>
                <button type="button" class="list-group-item list-group-item-action">Aktuális kölcsönzésem</button>
                <button type="button" class="list-group-item list-group-item-action">Kölcsönzés történet</button>
                <button type="button" class="list-group-item list-group-item-action">Előfizetési információk</button>
                <button type="button" class="list-group-item list-group-item-action">Személyes adataim</button>
            </div>
        </div>
        <div class="action-container col-lg-9">

        </div>
    </div>
</div>
