$body-bg: #E4E4E4;

$font-color-light: #9C9AA9;
$font-color-mid: #757575;
$font-color-dark: #696969;

$primary-link: #4994D9;
$primary-hover: #DEE4EE;
$primary-hover-light: #F3F6F9;
$primary-mid-hover: #9AACCB;
$primary-dark-active: #13243E;
$primary-dark-inactive: #425065;
$primary-mid-active: #3768B2;
$primary-mid-inactive: #7D9DCD;

$primary-button: #F69626;
