<div class="sticky-filter">
    <div class="inner justify-content-between">
        <span class="action d-inline-flex align-items-center">
            <span class="d-inline-block d-flex justify-content-end align-items-center">
                <span (click)="openNew()" class="btn-action btn-new d-inline-block me-2"
                      matTooltip="Új tétel létrehozása"
                      matTooltipPosition="right"
                      matTooltipClass="">
                </span>
            </span>
        </span>
        <span class="d-inline-block d-flex justify-content-end align-items-center">
                <div class="search">
                    <span (click)="search()" class="btn-search d-inline-block"></span>
                    <input [(ngModel)]="params.searchValue" (keyup.enter)="search()" type="text" placeholder="Keresés...">
                    <span *ngIf="isSearch" (click)="searchReset()" class="btn-reset d-inline-block"></span>
                </div>
        </span>
    </div>
    <div class="sticky-filter-cover d-none"></div>
</div>

<div id="cover" class="d-none"></div>

<app-error-modal></app-error-modal>
<app-delete-modal [name]="selectedItem?.name" (deleteEventEmitter)="destroy($event)" (closeEventEmitter)="closeDeleteModal()"></app-delete-modal>

<app-subscription-type-form
    *ngIf="showFormComponent"
    [selectedItem]="selectedItem"
    (errorEventEmitter)="openErrorModal($event)"
    (closeEventEmitter)="closeNew($event)"></app-subscription-type-form>

<div class="admin-container pt-3">
    <table class="table table-striped admin-table">
        <thead>
        <tr class="brd">
            <th>ID</th>
            <th>Könyvek száma</th>
            <th>Leírás</th>
            <th>Ár</th>
            <th>Létrehozva</th>
            <th>Módosítva</th>
            <th colspan="3" class="text-center w-10">Műveletek</th>
        </tr>
        <tr class="spacer"></tr>
        </thead>

        <tbody class="bg-white-">
        <tr *ngFor="let row of mainCollection">
            <td>{{ row.id }}</td>
            <td>{{ row.book_number }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.created_at }}</td>
            <td>{{ row.updated_at }}</td>
            <td class="text-center">
                <span class="btn-action table-btn-edit d-inline-block" matTooltip="Tétel szerkesztése"
                      matTooltipPosition="left" matTooltipClass="" (click)="openEdit(row.id, row.description)"></span>
            </td>

            <td class="text-center">
                <span class="btn-action table-btn-open d-inline-block" matTooltip="Részletek megtekintése"
                      matTooltipPosition="left" matTooltipClass="" (click)="openDetails(row.id, row.description)"></span>
            </td>

            <td class="text-center">
                <span *ngIf="row.can_delete" class="btn-action table-btn-delete d-inline-block" matTooltip="Tétel törlése"
                      matTooltipPosition="left" matTooltipClass="" (click)="openDeleteModal(row.id, row.description)"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="sticky-footer">
        <div class="left-side"></div>
        <div class="right-side">
            <div class="left">
                <span class="me-2 __text">Megjelenítve: </span>
                <span>
                    <select [(ngModel)]="params.perPage" (ngModelChange)="perPageOnChange($event)" class="form-select">
                        <option *ngFor="let page of params.pages">{{page}}</option>
                    </select>
                </span>
                <span *ngIf="total !== null" class="ms-3 __total">Össz: {{ total }}</span>
            </div>
            <div class="pager-container">
                <app-pagination [links]="links" (paginateEventEmitter)="paginate($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
