<div class="add-new-item">
    <div class="inner">
        <div class="header">
            <span *ngIf="selectedItem.id === null" class="title">Új kategória létrehozása</span>
            <span *ngIf="selectedItem.id" class="title">Szerkesztés: {{ selectedItem.name }}</span>
            <span class="close" (click)="close()"></span>
        </div>
        <div class="content">
            <form [formGroup]="form" class="d-flex flex-column" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="fill" *ngIf="showParentSelect">
                    <mat-label>Szülő kategória</mat-label>
                    <mat-select formControlName="parent">
                        <mat-option *ngFor="let parentItem of parentList" [value]="parentItem.id">
                            {{parentItem.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Kategória elnevezése</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-error *ngIf="form.controls['name'].hasError('required')">Az elnevezés megadása kötelező.</mat-error>
                    <mat-error *ngIf="form.controls['name'].hasError('minlength')">Az elnevezés legalább 3 karakter.</mat-error>
                </mat-form-field>

                <button *ngIf="selectedItem.id === null" type="submit" mat-raised-button color="primary" class="text-white mt-2">Mentés</button>
                <button *ngIf="selectedItem.id !== null" mat-raised-button color="primary" class="text-white mt-2">Módosítás</button>

            </form>
        </div>
    </div>
</div>
