<div class="sticky-filter">
    <div class="inner justify-content-between">
        <span class="action d-inline-flex align-items-center"></span>
        <span class="d-inline-block d-flex justify-content-end align-items-center"></span>
    </div>
    <div class="sticky-filter-cover d-none"></div>
</div>

<div class="admin-container pt-3">
    <div class="container bg-transparent p-0">
        <table class="table table-striped admin-table">
            <thead>
            <tr class="brd">
                <th>ID</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="spacer"></tr>
            </thead>

            <tbody class="bg-white">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

