<!--Admin fejléc-->
<span *ngIf="showAdminMenu">
    <header class="navbar admin-header">
      <a class="navbar-brand col-3 col-lg-2 me-0 px-3 fs-6" href="#">*****</a>
      <div class="col-9 col-lg-10 d-flex position-relative ms-0">
          <button (click)="openSidebar()" class="navbar-toggler position-absolute d-md-none collapsed ms-5" type="button" data-bs-toggle="collapse"
                  data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-nav"></div>

            <div class="dropdown me-3">
              <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                 data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle admin-user-icon me-1"></i> <span class="d-block me-2 username">{{userName}}</span>
              </a>
              <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="/">Felhasználói felület</a></li>
                <li *ngIf="!showLoginLink"><hr class="dropdown-divider"></li>
                <li *ngIf="showLoginLink"><a class="dropdown-item" routerLink="/login">Bejelentkezés</a></li>
                <li><a class="dropdown-item" routerLink="/register">Regisztáció</a></li>
                <li *ngIf="showProfileLink"><a class="dropdown-item" routerLink="#">Adataim</a></li>
                <li><hr class="dropdown-divider"></li>
                <li *ngIf="showLogoutLink"><a href="##" class="dropdown-item" (click)="logOut()">Kijelentkezés</a></li>
              </ul>
            </div>
        </div>
    </header>
</span>


<!--Felhasználói fejléc-->
<span *ngIf="!showAdminMenu">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use
              xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Címlap</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle admin-user-icon me-1"></i> <span class="d-block me-2">{{userName}}</span>
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li *ngIf="showAdminLink"><a class="dropdown-item" href="/admin/dashboard">Admin felület</a></li>
            <li *ngIf="!showLoginLink"><hr class="dropdown-divider"></li>
            <li *ngIf="showLoginLink"><a class="dropdown-item" routerLink="/login">Bejelentkezés</a></li>
            <li><a class="dropdown-item" routerLink="/register">Regisztáció</a></li>
            <li *ngIf="showProfileLink"><a class="dropdown-item" routerLink="#">Adataim</a></li>
            <li *ngIf="showLogoutLink"><hr class="dropdown-divider"></li>
            <li *ngIf="showLogoutLink"><a href="##" class="dropdown-item" (click)="logOut()">Kijelentkezés</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</span>
