<div class="modal fade"
     id="errorModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="errorModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rendszerüzenet</h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="">
                </button>
            </div>
            <div class="modal-body text-center">
                <span class="body-title error-text"></span>
            </div>
            <div class="modal-footer justify-content-center">
                <button data-bs-dismiss="modal"
                        mat-raised-button color="accent"
                        class="px-3 text-white">Bezár</button>
            </div>
        </div>
    </div>
</div>
