<div class="row stat-cards ms-0 me-0 mt-2">
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
        <div class="card">
            <div class="card-line bg-blue"></div>
            <div class="card-body">
                <div class="header">
                    Regisztrált felhasználók
                    <i class="bi bi-people-fill bg-blue"></i>
                </div>
                <div class="__line">
                    <span class="key">Összes regisztrált felhasználó:</span>
                    <span class="value bg-green">234</span>
                </div>
                <div class="__line">
                    <span class="key">Előfizetéssel rendelkezők:</span>
                    <span class="value bg-green">189</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
        <div class="card">
            <div class="card-line bg-orange"></div>
            <div class="card-body">
                <div class="header">
                    Könyvek
                    <i class="bi bi-book-fill bg-orange"></i>
                </div>
                <div class="__line">
                    <span class="key">Teljes állomány:</span>
                    <span class="value bg-indigo text-white">678</span>
                </div>
                <div class="__line">
                    <span class="key">Kölcsönzés alatt:</span>
                    <span class="value bg-indigo text-white">345</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
        <div class="card">
            <div class="card-line bg-indigo"></div>
            <div class="card-body">
                <div class="header">
                    Kölcsönzések
                    <i class="bi bi-send-check-fill bg-indigo"></i>
                </div>
                <div class="__line">
                    <span class="key">Összes kölcsönzés:</span>
                    <span class="value bg-orange text-white">678</span>
                </div>
                <div class="__line">
                    <span class="key">Aktuális kölcsönzések száma:</span>
                    <span class="value bg-orange text-white">345</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
        <div class="card">
            <div class="card-line bg-green-mid"></div>
            <div class="card-body">
                <div class="header">
                    Felhasználói vélemények
                    <i class="bi bi-star-fill bg-green-mid"></i>
                </div>
                <div class="__line">
                    <span class="key">Összes bejegyzés:</span>
                    <span class="value bg-blue text-white">678</span>
                </div>
                <div class="__line">
                    <span class="key">Moderált bejegyzések:</span>
                    <span class="value bg-blue text-white">34</span>
                </div>
            </div>
        </div>
    </div>
</div>
